{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>test</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src ="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->

    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <script src ="{% static 'js/my.js' %}"></script>
    {% block head_extra %}
    {% endblock %}
  </head>
  <body>
    <section class="header">
          <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static "images/1.png" %}" alt="loading error" class="img-fluid"></a>
            <!-- <img src="{% static "images1.png" %}" alt="My image"> -->
          <!-- <a class="navbar-brand" href="#"><img src="images1.png" alt="loading error" class="img-fluid"></a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-right">
              <li class="nav-item">
                <a class="nav-link active-home" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'select_subject' %}">Quiz</a>
              </li>
              <li class="nav-item">
                {% comment %} <a class="nav-link" href="{% url 'post_list' %}">blog</a> {% endcomment %}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{#}">Library</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Chat Room</a>
              </li>
            </ul>
          </div>
        </nav>

      {% block sectionheader_block %}
      {% endblock %}
      </div>
    </section>
    {% block sectionheader1_block %}
    {% endblock %}

    {% block body_block %}
    {% endblock %}
  </body>
  {%block body_extra%}
  {%endblock%}
</html>
